/*Universal keme*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Miriam Libre', sans-serif;
}

nav {
  margin-bottom: 3vh;
}

#NavbarMenu {
  margin-left: 10px;
}

footer {
  height: 10vh;
  position: fixed;
  bottom: 0;
  line-height: 16vh;
  text-align: left;
}

._active {
  background-color: #CAF22A;
  padding: 5px;
  border-radius: 10px;
}

img {
  max-width: 100%;
  height: auto;
}

/* .container {
  display: flex;
  flex-direction: column;
} */

/*index.html*/

#main {
  display: block;
  text-align: right;
}

.profile-picture {
  margin-left: auto;
  margin-right: auto;
  width: 70vh;
}

/*portfolio.html*/
.port-link {
  text-decoration: none;
}

/* contact.html*/
/*set the size of the div element that contains the map */
.googleMapContainer {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 50vh;
}

.googleMapFrame {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}